*
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-image: url(img/bg.png);
    background-position: center;
    background-size: cover;
}
.logo{
    float: left;
    margin: 7px;
    width: 327px
}
.logo img {
    width: 100%;
}
.menu{
    float: right;
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80 px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    border-bottom:1px solid #364f6b;
}
nav ul{
    list-style-type: none;
    margin: 5px;
    padding: 20px;
    overflow: hidden;
}
nav ul li {
    float: left;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px 0px 20px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
.tbl-biru{
    background-image: linear-gradient(to right, #028E8F, #00D4D6);
    border-radius: 20px;
    margin: 10px;
    padding: 15px 25px 15px 25px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}
.tbl-biru:hover{
    background-image: linear-gradient(to right, #D6D8D8, #E5E7E7);
    text-decoration: none;
}
.tbl-abu{
    background-image: linear-gradient(to right, #D6D8D8, #E5E7E7);
    border-radius: 20px;
    margin: 10px;
    padding: 15px 25px 15px 25px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.tbl-abu:hover{
    background-image: linear-gradient(to right, #028E8F, #00D4D6);
    text-decoration: none;
}
.bg{
    width:fit-content;
}
p{
    text-align: left;
    margin: 0;
    position: unset;
    padding: 146px 50px 10px 106px;
    font-size: 20px;
}
h2{
    letter-spacing: 5px;
    position: unset;
    margin: 0;
    padding: 0px 53px 28px 113px;
    font-size: 70px;
}